.theme-form {
  padding: 20px 0;
  border-bottom: 2px solid $red;

  &:first-of-type {
    border-top: 2px solid $red;
  }

  &__testimonials {
    height: 0;
    overflow: hidden;

    @media (min-width: $media-des-md) {
      display: flex;
      align-items: flex-start;
    }
  }

  .rating {
    @media (min-width: $media-des-md) {
      width: calc(100% - 540px);
      padding-right: 40px;
    }
  }
  
  .textarea {
    @media (min-width: $media-des-md) {
      flex: 1 1;
    }

    &__input {
      @media (min-width: $media-des-md) {
        margin-top: 20px;
      }
    }
  }
}