.select {
  display: block;
  width: 100%;
  position: relative;

  &__label {
    color: $white;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    
    @media (min-width: $media-des-sm) {
      font-size: 1.8rem;
    }
  }

  &__select {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 6px 32px 6px 10px;
    border: 2px solid $white;
    background-color: $black;
    border-radius: 0;
    color: $white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3rem;
    cursor: pointer;
    transition: border-color .15s;

    @media (min-width: $media-des-sm) {
      padding: 12px 32px 12px 10px;
      font-size: 1.6rem;
    }

    @media (any-hover: hover) {
      &:hover {
        border-color: #B4B4B4;
      }
    }

    &:focus-visible {
      outline: 0;
    }

    .error & {
      border-color: $red;
    }
  }

  &__arrow {
    display: block;
    width: auto;
    height: 6px;
    position: absolute;
    bottom: 13px;
    right: 14px;
    fill: $white;

    @media (min-width: $media-des-sm) {
      height: 8px;
      bottom: 18px;
    }

    .error & {
      bottom: 28px;
      fill: $red;
      
      @media (min-width: $media-des-sm) {
        bottom: 35px;
      }
    }
  }

  &__option {
    font-weight: 600;
    cursor: pointer;
  }

  &__error {
    display: none;
    font-size: 1.2rem;
    color: $red;

    .error & {
      display: block;
      width: 100%;
      margin-top: 4px;
    }
  }
}